body {
  background-color: #000035;
  font-family: "Roboto";
  color: #E9BD53;
  font-size: 24px;
}
h1 {
  font-family: "Cormorant";
  font-size: 36px;
  font-weight:bold;
  text-align: center;
  line-height: 2;
}
h2 {
  font-family: "Roboto";
  font-size:30px;
  font-style: italic;
  line-height: 0;
}
a {
  text-decoration: underline;
  font-weight: bold;
  color: #1ABC1F;
}
a:visited {
  color: rgb(147, 4, 158);
}
li {
  font-size: 24px;
  font-family: "Roboto";
  line-height: 1.25;
}
p {
  text-indent: 1.5em;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li {
  display: inline;
  background-color: #E9BD53;
  color: #000035;
  padding: 12px;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Oswald";
}

ol li:hover {
  background-color: #000035;
  color: #E9BD53;
  padding: 8px;
  border-width: 4px;
  border-top-width: 12;
  border-color: #E9BD53;
  border-style: solid;
}

ol li:active {
  background-color: #000035;
  color: #E9BD53;
  padding: 8px;
  border-width: 4px;
  border-style: solid;
  border-color: #1ABC1F;
}
