body {
  background-color: #000035;
  font-family: "Roboto";
  color: #E9BD53;
  font-size: 24px;
}
h1 {
  font-family: "Cormorant";
  font-size: 36px;
  font-weight:bold;
  text-align: center;
  line-height: 2;
}
h2 {
  font-family: "Roboto";
  font-size:30px;
  font-style: italic;
  line-height: 0;
}
a {
  text-decoration: underline;
  font-weight: bold;
  color: #1ABC1F;
}
a:visited {
  color: rgb(147, 4, 158);
}
li {
  font-size: 24px;
  font-family: "Roboto";
  line-height: 1.25;
}
p {
  text-indent: 1.5em;
}
